body {
  background-color: rgb(216, 204, 189);
  color: rgb(37, 32, 32);
  font-family: "Raleway", sans-serif;
}

ul.nav-bar {
  list-style: none;
  overflow: hidden;
  top: 0;
  width: 90%;
  position: fixed;
  text-align: right;
}

ul.nav-bar li {
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  ul.nav-bar li {
    float: none;
  }
}

img {
  width: 150px;
  margin-left: 80px;
}

div.profile {
  margin-top: 100px;
}

div h3 {
  margin-left: 70px;
}
