body.index {
  background: linear-gradient(90deg, #f0e4d2 50%, #fff 50%);
  color: #252020;
  font-family: "Raleway", sans-serif;
  padding-top: 80px;
  font-weight: 400;
}

div.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #f0e4d2 50%, #fff 50%);
  box-shadow: 3px 2px 10px 1px #b8b7b769;
  width: 100%;
  font-weight: 300;
}

ul.navbar-nav li {
  font-size: 16px;
  padding: 0 20px;
}

.nav-link {
  color: #312525 !important;
}

.nav-link:hover {
  color: #a89a9a !important;
}

div.profile {
  margin-top: 40px;
}
div.row {
  margin: 0 auto;
}
div.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 600px) {
  div.column {
    width: 100%;
  }
}

div.left-col {
  background-color: rgb(247, 238, 229);
  box-shadow: 3px 2px 10px 1px #888888;
  width: 65%;
  float: right;
  text-align: center;
}

img.profile {
  width: 160px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

h5.full-name {
  font-family: "Poppins", sans-serif;
}

p.opening-profile {
  padding-bottom: 20px;
}
ul.logo-instagram li {
  color: #252020a2;
  font-size: 22px;
  list-style: none;
  padding: 0 40px 20px 0;
}

div.rigth-col {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  min-width: 65%;
  max-width: 75%;
}

h2.introduction {
  font-family: "Poppins", sans-serif;
}

p.text-introduction {
  font-size: 16px;
  padding-bottom: 10px;
}

p.personal-introduction {
  font-size: 14px;
}

a:link {
  color: #312525;
  text-decoration: none;
}

a:visited {
  color: #312525;
  text-decoration: none;
}

a:hover {
  color: #a89a9a;
  text-decoration: none;
}

a:active {
  color: #312525;
  text-decoration: none;
}

footer {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: end;
  color: #252020a4;
  margin: 30px;
  padding-top: 50px;
}

body.content-texts-page {
  background: #f0e4d2;
  padding-top: 80px;
  color: #252020;
  font-family: "Raleway", sans-serif;
}

div.column-texts-page {
  width: 70%;
  margin: 0 auto;
}

h2.title-content-page {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px;
  margin-top: 40px;
}

.fa-square {
  font-size: 15px;
  color: #4b169b;
}

div.introduction-text {
  text-align: center;
  padding-bottom: 50px;
}
h4.titles-texts {
  color: #4b169b;
  font-family: "Poppins", sans-serif;
}

div.content-texts {
  background-color: #ffffff;
  box-shadow: 3px 2px 10px 1px #b8b7b769;
  padding: 40px;
}
