body.index {
  background: linear-gradient(90deg, #f0e4d2 50%, #fff 50%);
  color: #252020;
  font-family: "Raleway", sans-serif;
  padding-top: 80px;
}

div.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background: linear-gradient(90deg, #f0e4d2 50%, #fff 50%);
  box-shadow: 3px 2px 10px 1px #b8b7b769;
}

ul.navbar-nav li {
  color: #252020a2;
  font-size: 22px;
  padding: 0 20px;
  list-style: none;
}

div.profile {
  margin-top: 40px;
}
div.row {
  margin: 0 auto;
}
div.column {
  float: left;
  width: 50%;
}

@media screen and (max-width: 600px) {
  div.column {
    width: 100%;
  }
}

div.left-col {
  background-color: rgb(247, 238, 229);
  box-shadow: 3px 2px 10px 1px #888888;
  width: 50%;
  float: right;
  text-align: center;
}

img.profile {
  width: 160px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

h3.full-name {
  font-weight: bold;
}

p.opening-profile {
  font-weight: bolder;
  padding-bottom: 20px;
}
ul.logo-instagram li {
  color: #252020a2;
  font-size: 22px;
  list-style: none;
  padding: 0 40px 20px 0;
}

div.rigth-col {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}

h1.introduction {
  font-weight: bold;
}

a:link {
  color: #252020;
  text-decoration: none;
}

a:visited {
  color: #252020;
  text-decoration: none;
}

a:hover {
  color: #d1bc9d;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

footer {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: end;
  color: #252020a4;
  margin: 20px;
}

body.content-texts-page {
  background: #f0e4d2;
}

h2.title-content-texts {
  text-align: center;
  font-weight: bold;
  padding: 60px;
}

.fa-square {
  font-size: 15px;
  color: #4b169b;
}

p.introduction-text {
  padding: 0 200px 40px 200px;
  text-align: center;
}

div.content-texts {
  background-color: #ffffff;
  padding: 40px;
  margin: 40px 200px 20px 200px;
}

h4.titles-texts {
  color: #4b169b;
  font-weight: bold;
}
